<h1>Hello world</h1>
<p>{{ "Nice to meet you".repeat(5) }}</p>
<p>3 + 3 = {{ 3 + 3 }}</p>
<strong>You're {{ age }} years old</strong>
<figure>
  <img
    width="300"
    height="300"
    src="{{ img }}"
    alt="Reference image of a T-shirt"
  />
</figure>

<!-- Property binding -->

<h2>Property binding</h2>
<button [disabled]="btnDisabled">Active button</button>
<input type="text" [value]="name" />
<progress max="100" [value]="age"></progress>
<img [src]="img" alt="Reference image of a T-shirt" width="300" height="300" />
<article>
  <h3>His name is {{ person.firstName }}</h3>
  <p>He has {{ person.age }}</p>
  <p>He's from {{ person.country }}</p>
</article>

<!-- Event binding from Angular -->

<button (click)="toggleButton()">Change disabled</button>
<button (click)="increaseAge()">Increase Age</button>

<!-- Other events -->

<div class="box" (scroll)="onScroll($event)">
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum, voluptatem
  dolorem? Ratione modi quam sunt incidunt illo? Magnam officia in doloribus
  beatae obcaecati amet placeat aspernatur excepturi nemo, cupiditate
  repellendus! Earum cupiditate veniam numquam ad ipsum illum fugiat est
  sapiente accusamus natus? Deserunt beatae voluptates illum ratione neque
  earum, saepe similique vel, illo libero, commodi non modi excepturi aspernatur
  reiciendis. Similique quaerat, accusantium neque recusandae ullam quia omnis
  pariatur impedit deserunt laudantium. Qui mollitia ipsa magnam magni
  consequatur hic exercitationem natus! In et asperiores vel voluptate nobis
  sint perspiciatis alias.
</div>

<p>Now, the name is {{ person.firstName }}</p>
<input type="text" [value]="person.firstName" (keyup)="changeName($event)" />

<!-- NG model -->

<p>Here is the lastName => {{ person.lastName }}</p>
<input
  type="text"
  [minlength]="10"
  #lastNameInput="ngModel"
  [(ngModel)]="person.lastName"
/>
<p>Valid: {{ lastNameInput.valid }}</p>

<!-- Uso de *ngIf -->

<p *ngIf="person.lastName === 'Brandon'; else elseBlock">My content</p>
<ng-template #elseBlock>
  <p>Block of else</p>
</ng-template>

<!-- Uso de *ngFor -->

<h3>*ngFor</h3>
<ul>
  <li *ngIf="names.length === 0">There aren't elements</li>
  <li *ngFor="let name of names; index as i">
    {{ i }}{{ name }}
    <button (click)="removeForIndex(i)">Delete</button>
  </li>
</ul>

<input type="text" [(ngModel)]="newName" />
<div style="display: flex; flex-direction: column; align-items: flex-start">
  <button (click)="addNameToArray()">Add name</button>
  <button (click)="removeLastElement()">Remove last element</button>
</div>

<h3>*ngFor Objects</h3>
<ul>
  <li *ngFor="let pro of products">
    <article>
      <h4>{{ pro.name }}</h4>
      <p>
        <strong> {{ pro.price }}</strong>
        <strong>{{ pro.category }}</strong>
      </p>
      <img [src]="pro.image" alt="Image" width="200" />
    </article>
  </li>
</ul>
